@font-face {
  font-family: ShabnamLite;
  src: url("../font/Shabnam-Light-FD.ttf");
}

@font-face {
  font-family: Aramco;
  src: url("../font/Far_Aramco.ttf");
}

@font-face {
  font-family: Monteserrat;
  src: url("../font/Montserrat-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font: normal 16px Aramco;
}

body {
  background: #272f44 url("../image/IndexBackground_Edition.jpg") center/cover no-repeat;
  height: 1000px;
  position: relative !important;
}

@media only screen and (min-width: 1200px) {
  body {
    background: #272f44 url("../image/IndexBackground_Edition.jpg") center/contain no-repeat;
  }
}

.services {
  width: 100%;
  height: 200px;
  margin-top: 500px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 1000px) {
  .services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 100px;
  }
}

.services .service {
  width: 300px;
  min-width: 300px;
  max-width: 450px;
  height: 50px;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: url("../image/IndexServices.jpg") center/cover no-repeat;
}

.services .service p {
  color: #464646;
}

.background-overlay {
  position: absolute;
  top: 425px;
  left: 50.25vw;
  -webkit-transform: translate(-50%, -50%) rotateZ(-15deg);
          transform: translate(-50%, -50%) rotateZ(-15deg);
  width: 250px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 0;
  background-image: url("/public/image/SliderBackground.png");
  background-size: 122% 160%;
  background-repeat: no-repeat;
  background-origin: border-box;
}

.background-overlay input {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  width: 97%;
  height: 30px;
  position: absolute;
  top: -15px;
  left: 0px;
  background-color: transparent;
  border: none;
  -webkit-transform-origin: right bottom;
          transform-origin: right bottom;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: move;
}

.background-overlay input::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  width: 135px;
  height: 35px;
  background: url("/public/image/SliderThumb.png") center no-repeat;
}
/*# sourceMappingURL=index.css.map */