<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Custom Styles -->
    <link rel="stylesheet" href="/public/style/styles.css" />
    <link rel="stylesheet" href="/public/style/hairtransplantation.css" />
    <!-- Fontawesome CND -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <!-- Customs -->
    <script src="/public/script/hairTransplantationScript.js"></script>
    <script src="/public/script/common.js"></script>
    <title>کلینیک کاشت مو و ابرو | کاشت موی سر</title>
  </head>
  <body class="index">
    <header>
      <div class="container">
        <div class="row-between">
          <div class="logo">
            <div class="logo-img">
              <a href="../index.html">
                <img src="/public/image/logo.png" alt="logo" />
              </a>
            </div>
            <div class="logo-txt">
              <span>مرکز کاشت</span>
              <span>مو و ابرو</span>
            </div>
          </div>
          <div class="site-info">
            <div class="site-phone">
              <span>021</span>
              <span>34567</span>
            </div>
            <div class="site-lang">
              <div class="search-box">
                <form action="">
                  <input type="text" placeholder="جستجو کنید." />
                </form>
                <div class="input-handler"></div>
              </div>
              <div class="lang">
                <a href="#">AR</a>
                <a href="#">TR</a>
              </div>
              <select name="lang" id="lang">
                <option value="FA">FA</option>
                <option value="TR">TR</option>
                <option value="AR">AR</option>
              </select>
            </div>
          </div>
        </div>
        <nav>
          <div class="access-menu">
            <i class="fas fa-bars menu-toggle-btn"></i>
            <ul class="menu">
              <li><a href="../index.html">صفحه اصلی</a></li>
              <li>
                <a class="dropdown-btn" href="#">
                  خدمات
                  <i class="fas fa-angle-down"></i>
                </a>
                <div class="dropdown-inner">
                  <ul>
                    <li>
                      <a href="hairtransplantation.html">کاشت موی سر</a>
                    </li>
                    <li><a href="#">کاشت و ترمیم ریش و سبیل</a></li>
                    <li><a href="#">کاشت و ترمیم ابرو</a></li>
                  </ul>
                </div>
              </li>
              <li><a href="../abouts.html">درباره ما</a></li>
              <li><a href="../contacts.html">تماس با ما</a></li>
            </ul>
          </div>
          <div class="user-menu">
            <ul>
              <li>
                <a href="../register.html">ثبت نام</a>
              </li>
              <span>/</span>
              <li>
                <a href="../login.html">ورود</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <section class="container body">
      <div class="path">
        <div class="path-icon"><i class="fas fa-map-marker-alt"></i></div>
        <div class="path-inner">
          <a href="../index.html">صفحه اصلی</a>
          <i class="fas fa-chevron-left"></i>
          <a href="hairtransplantation.html">خدمات</a>
          <i class="fas fa-chevron-left"></i>
          <span>کاشت موی سر</span>
        </div>
      </div>
      <div class="body-inner">
        <img
          src="/public/image/HairTransplantation_HeaderPicture.jpg"
          alt="HeaderPicture"
        />
        <div class="body-inner-discription">
          <h2 class="body-inner-title">کاشت موی سر</h2>
          <p class="body-inner-disc">
            یزر فرکشنال روش نوینی در جوانسازی پوست، بازسازی پوست و تحریک ساختن
            رشته های کلاژن می باشد که سبب افزایش قوام و سفتی پوست شده و چروکهای
            ریز پوست را از بین می برد . با استفاه از این روش امکان بهبود و درمان
            جای زخمهای مختلف هم وجود دارد . بیشترین کاربرد آن برای درمان جای جوش
            , زخم و جراحات پوستی می باشد.تعداد جلسات و فواصل درمانی در افراد
            مختلف بسته به نوع ضایعه، رنگ پوست و سن، متفاوت وبین 1 تا 4 جلسه و به
            فواصل حداقل 1 ماهه می باشد
          </p>
        </div>
        <div class="order-section">
          <img src="/public/image/Order_Picture.jpg" alt="OrderPicture" />
          <div class="order-desc">
            <p>
              مرکز کاشت موی، اولین بنیان گذار تکنیک کاشت موی در جنوب کشور است،
              این تکنیک جدیدترین و بروزترین روش کاشت موی سر و پیوند مو در دنیا
              می باشد و در این تکنیک برتر کاشت مو، دیگر همانند روش های رایج و
              سنتی نیازی به برش و جراحی و بجا ماندن کاشت موی، اولین بنیان گذار
              تکنیک کاشت موی در جنوب کشور است، این تکنیک برتر کاشت مو، دیگر
              همانند روش های رایج و سنتی نیازی به برش و جراحی و بجا ماندن اسکار
              و یا درد و تحمل زمان طولانی دوره نقاهت وغیره… وجود ندارد
            </p>
            <a href="#"
              >ثبت سفارش <i class="fas fa-long-arrow-alt-left"></i>
            </a>
          </div>
        </div>
        <img
          class="Wrapper"
          src="/public/image/Order_Section_Wrapper.jpg"
          alt="Wrapper"
        />
        <div class="clinic-services">
          <span>خدمات کلینیک</span>
          <h2>پوست ، مو و زیبایی</h2>
          <p>
            کلینیک سینا با بیش از 15 سال سابقه فعالیت در جنوب کشور آماده ارائه
            <br />
            خدمات فوق با بهترین کیفیت میباشد
          </p>
          <p>
            یزر فرکشنال روش نوینی در جوانسازی پوست، بازسازی پوست و تحریک ساختن
            رشته های کلاژن می باشد که سبب افزایش قوام و سفتی پوست شده و چروکهای
            ریز پوست را از بین می برد . با استفاه از این روش امکان بهبود و درمان
            جای زخمهای مختلف هم وجود دارد . بیشترین کاربرد آن برای درمان جای جوش
            , زخم و جراحات پوستی می باشد.تعداد جلسات و فواصل درمانی در افراد
            مختلف بسته به نوع ضایعه، رنگ پوست و سن، متفاوت وبین 1 تا 4 جلسه و به
            فواصل حداقل 1 ماهه می باشدیزر فرکشنال روش نوینی در جوانسازی پوست،
            بازسازی پوست و تحریک ساختن رشته های کلاژن می باشد که سبب افزایش قوام
            و سفتی پوست شده و چروکهای ریز پوست را از بین می برد . با استفاه از
            این روش امکان بهبود و درمان جای زخمهای مختلف هم وجود دارد . بیشترین
            کاربرد آن برای درمان جای جوش , زخم و جراحات پوستی می باشد.تعداد
            جلسات و فواصل درمانی در افراد مختلف بسته به نوع ضایعه، رنگ پوست و
            سن، متفاوت وبین 1 تا 4 جلسه و به فواصل حداقل 1 ماهه می باشد
          </p>
        </div>
        <div class="after-before-section">
          <img
            src="/public/image/After&Before_Sample.jpg"
            alt="After&BeforeSample"
          />
          <div class="after-before-desc">
            <span>مقایسه کن</span>
            <h3>تصاویر قبل و بعد</h3>
            <p>
              خودتان با مشاهده نمونه کارهای انجام شده کلینیک سینا در کاشت موی
              طبیعی ، ریش و سبیل و ابرو میتوانید به راحتی به کیفیت کار ما در
              انجام امور زیبایی بخصوص کاشت مو پی ببرید
            </p>
          </div>
        </div>
        <img
          class="Wrapper"
          src="/public/image/Order_Section_Wrapper.jpg"
          alt="Wrapper"
        />
        <div class="hair-transplantation-intro-video">
          <video src="#" controls preload="metadata"></video>
          <img
            src="/public/image/Video_Dot_Background.jpg"
            alt="VideoPattern"
          />
        </div>
      </div>
    </section>
    <div class="container">
      <div class="footer-desc">
        <div class="col sample">
          <h4>نمونه های انجام شده</h4>
          <span>بیشتر ببینید</span>
          <p>
            درک کاربران و مشتریان شما به افزایش تبدیل شما کمک خواهد کرد. سیستم
            ما اجازه می دهد تا همه چیز را پیگیری کنید. این که آیا میزان کلیک،
            کشور یا ارجاع دهنده است، داده ها برای شما وجود دارد تا آن را تجزیه و
            تحلیل کنید
          </p>
        </div>
        <div class="col">
          <div class="item">
            <h4 class="numberic">کاشت موی سر</h4>
            <span>به روش SUT</span>
            <p>
              پیوندهای خود را به شبکه خود و اندازه گیری داده ها برای بهینه سازی
              عملکرد کمپین بازاریابی خود را. رسیدن به یک مخاطب که متناسب با
              نیازهای شما باشد
            </p>
          </div>
          <div class="item singleItem">
            <h4>خدمات کلینیک</h4>
            <span>پوست ، مو و زیبایی</span>
          </div>
        </div>
        <div class="col">
          <div class="item">
            <h4 class="numberic">+145,000</h4>
            <span>نفر در اینجا کاشت مو انجام داده اند</span>
            <p>
              مشتریان خود را هدف قرار دهید تا میزان دسترسی خود را افزایش دهید و
              آنها را به یک صفحه مرتبط هدایت کنید. یک پیکسل برای اضافه کردن آنها
              به کمپین تبلیغاتی رسانه های اجتماعی برای ضبط آنها اضافه کنید
            </p>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="container">
        <div class="reserve-time">
          <a href="../reserve.html"
            >دریافت نوبت انلاین <i class="fas fa-long-arrow-alt-left"></i
          ></a>
        </div>
        <div class="copyright">
          <p>تمامی حقوق این سایت برای <span>نام شرکت</span> محفوظ است</p>
        </div>
        <div class="socialmedia">
          <a href="#"><i class="fas fa-basketball-ball"></i></a>
          <a href="https://instagram.com"><i class="fab fa-instagram"></i></a>
          <a href="https://pinterset.com"><i class="fab fa-pinterest-p"></i></a>
          <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
          <a href="https://facebook.com"><i class="fab fa-facebook-f"></i></a>
        </div>
      </div>
    </footer>
    <div class="responsive-menu">
      <ul>
        <li><a href="../index.html">صفحه اصلی</a></li>
        <li>
          <div class="dropdown">
            <a href="#" class="dropdown-btn">خدمات</a>
          </div>
        </li>
        <li><a href="../abouts.html">درباره ما</a></li>
        <li><a href="../contacts.html">تماس با ما</a></li>
      </ul>
    </div>
  </body>
</html>
